USE [laptopshop]
GO
/****** Object:  Table [dbo].[CartItem]    Script Date: 3/17/2025 2:55:46 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CartItem](
	[cartItemId] [int] IDENTITY(1,1) NOT NULL,
	[userId] [int] NOT NULL,
	[productId] [int] NOT NULL,
	[quantity] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[cartItemId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Factory]    Script Date: 3/17/2025 2:55:46 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Factory](
	[id] [varchar](255) NOT NULL,
	[name] [varchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Order]    Script Date: 3/17/2025 2:55:46 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Order](
	[orderId] [int] IDENTITY(1,1) NOT NULL,
	[userId] [int] NOT NULL,
	[date] [datetime] NOT NULL,
	[name] [nvarchar](255) NULL,
	[phone] [varchar](20) NOT NULL,
	[address] [nvarchar](max) NULL,
	[shipPrice] [money] NOT NULL,
	[totalPrice] [money] NOT NULL,
	[statusId] [int] NOT NULL,
	[note] [nvarchar](max) NULL,
PRIMARY KEY CLUSTERED 
(
	[orderId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[OrderDetail]    Script Date: 3/17/2025 2:55:46 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[OrderDetail](
	[orderDetailId] [int] IDENTITY(1,1) NOT NULL,
	[orderId] [int] NOT NULL,
	[productId] [int] NOT NULL,
	[quantity] [int] NOT NULL,
	[priceProduct] [money] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[orderDetailId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Product]    Script Date: 3/17/2025 2:55:46 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Product](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[name] [varchar](255) NOT NULL,
	[price] [money] NULL,
	[quantity] [int] NOT NULL,
	[sold] [int] NULL,
	[factory] [varchar](255) NULL,
	[cpuCategory] [varchar](255) NULL,
	[cpu] [varchar](255) NULL,
	[ram] [varchar](255) NULL,
	[rom] [varchar](255) NULL,
	[screen] [varchar](255) NULL,
	[vga] [varchar](255) NULL,
	[target] [varchar](255) NULL,
	[shortDesc] [nvarchar](max) NULL,
	[detailDesc] [nvarchar](max) NULL,
	[image] [varchar](255) NULL,
	[storage] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Role]    Script Date: 3/17/2025 2:55:46 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Role](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[name] [varchar](255) NOT NULL,
	[description] [text] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Status]    Script Date: 3/17/2025 2:55:46 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Status](
	[statusId] [int] NOT NULL,
	[status] [nvarchar](100) NULL,
PRIMARY KEY CLUSTERED 
(
	[statusId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[User]    Script Date: 3/17/2025 2:55:46 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[User](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[email] [varchar](255) NOT NULL,
	[password] [varchar](255) NOT NULL,
	[firstName] [nvarchar](100) NULL,
	[lastName] [nvarchar](100) NULL,
	[address] [nvarchar](max) NULL,
	[phone] [varchar](15) NULL,
	[avatar] [varchar](255) NULL,
	[roleId] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[CartItem] ON 

INSERT [dbo].[CartItem] ([cartItemId], [userId], [productId], [quantity]) VALUES (122, 17, 1, 2)
INSERT [dbo].[CartItem] ([cartItemId], [userId], [productId], [quantity]) VALUES (123, 17, 2, 3)
SET IDENTITY_INSERT [dbo].[CartItem] OFF
GO
INSERT [dbo].[Factory] ([id], [name]) VALUES (N'Acer', N'Acer')
INSERT [dbo].[Factory] ([id], [name]) VALUES (N'Apple', N'Apple')
INSERT [dbo].[Factory] ([id], [name]) VALUES (N'Asus', N'Asus')
GO
SET IDENTITY_INSERT [dbo].[Order] ON 

INSERT [dbo].[Order] ([orderId], [userId], [date], [name], [phone], [address], [shipPrice], [totalPrice], [statusId], [note]) VALUES (22, 18, CAST(N'2024-10-27T03:33:27.000' AS DateTime), N'Vu Duy Lê', N'0822317904', N'ha noi', 0.0000, 10000.0000, 4, N'')
INSERT [dbo].[Order] ([orderId], [userId], [date], [name], [phone], [address], [shipPrice], [totalPrice], [statusId], [note]) VALUES (23, 18, CAST(N'2024-10-27T03:45:21.000' AS DateTime), N'Vu Duy Lê', N'0822317904', N'ha noi', 0.0000, 2401.2648, 3, N'G?i cho ngu?i yêu em')
INSERT [dbo].[Order] ([orderId], [userId], [date], [name], [phone], [address], [shipPrice], [totalPrice], [statusId], [note]) VALUES (24, 18, CAST(N'2024-10-28T01:51:46.000' AS DateTime), N'Vũ Duy Lê', N'0822317904', N'ha noi', 0.0000, 851.0221, 3, N'')
SET IDENTITY_INSERT [dbo].[Order] OFF
GO
SET IDENTITY_INSERT [dbo].[OrderDetail] ON 

INSERT [dbo].[OrderDetail] ([orderDetailId], [orderId], [productId], [quantity], [priceProduct]) VALUES (1, 22, 60, 1, 10000.0000)
INSERT [dbo].[OrderDetail] ([orderDetailId], [orderId], [productId], [quantity], [priceProduct]) VALUES (2, 23, 1, 2, 1200.6324)
INSERT [dbo].[OrderDetail] ([orderDetailId], [orderId], [productId], [quantity], [priceProduct]) VALUES (3, 24, 2, 1, 851.0221)
SET IDENTITY_INSERT [dbo].[OrderDetail] OFF
GO
SET IDENTITY_INSERT [dbo].[Product] ON 

SET IDENTITY_INSERT [dbo].[Product] OFF
GO
SET IDENTITY_INSERT [dbo].[Role] ON 

INSERT [dbo].[Role] ([id], [name], [description]) VALUES (1, N'USER', N'mua bán')
INSERT [dbo].[Role] ([id], [name], [description]) VALUES (2, N'ADMIN', N'full quy?n')
SET IDENTITY_INSERT [dbo].[Role] OFF
GO
INSERT [dbo].[Status] ([statusId], [status]) VALUES (1, N'Chờ xác nhận')
INSERT [dbo].[Status] ([statusId], [status]) VALUES (2, N'Chờ giao hàng')
INSERT [dbo].[Status] ([statusId], [status]) VALUES (3, N'Hoàn thành')
GO
SET IDENTITY_INSERT [dbo].[User] ON 

INSERT [dbo].[User] ([id], [email], [password], [firstName], [lastName], [address], [phone], [avatar], [roleId]) VALUES (9, N'user5@example.com', N'password456', N'Tran', N'Thi Le', N'456 Ðu?ng XYZ, Qu?n 2', N'0907654321', N'1726671023039-8.jpg', 1)
INSERT [dbo].[User] ([id], [email], [password], [firstName], [lastName], [address], [phone], [avatar], [roleId]) VALUES (10, N'admi6@example.com', N'123', N'Tran Mai', N'Le', N'789 Ðu?ng DEF, Qu?n 3', N'0912345678', N'1726671023039-8.jpg', 2)
INSERT [dbo].[User] ([id], [email], [password], [firstName], [lastName], [address], [phone], [avatar], [roleId]) VALUES (11, N'user3@example.com', N'password789', N'Pham', N'Thi D', N'321 Ðu?ng GHI, Qu?n 4', N'0923456789', N'1726671023039-8.jpg', 1)
SET IDENTITY_INSERT [dbo].[User] OFF
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__User__AB6E616490C1DF54]    Script Date: 3/17/2025 2:55:46 AM ******/
ALTER TABLE [dbo].[User] ADD UNIQUE NONCLUSTERED 
(
	[email] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Product] ADD  DEFAULT ((0)) FOR [sold]
GO
ALTER TABLE [dbo].[Product] ADD  DEFAULT ((1)) FOR [storage]
GO
ALTER TABLE [dbo].[CartItem]  WITH CHECK ADD FOREIGN KEY([productId])
REFERENCES [dbo].[Product] ([id])
GO
ALTER TABLE [dbo].[CartItem]  WITH CHECK ADD FOREIGN KEY([userId])
REFERENCES [dbo].[User] ([id])
GO
ALTER TABLE [dbo].[Order]  WITH CHECK ADD FOREIGN KEY([statusId])
REFERENCES [dbo].[Status] ([statusId])
GO
ALTER TABLE [dbo].[Order]  WITH CHECK ADD FOREIGN KEY([userId])
REFERENCES [dbo].[User] ([id])
GO
ALTER TABLE [dbo].[OrderDetail]  WITH CHECK ADD FOREIGN KEY([orderId])
REFERENCES [dbo].[Order] ([orderId])
GO
ALTER TABLE [dbo].[OrderDetail]  WITH CHECK ADD FOREIGN KEY([productId])
REFERENCES [dbo].[Product] ([id])
GO
ALTER TABLE [dbo].[Product]  WITH CHECK ADD  CONSTRAINT [FK_Product_Factory] FOREIGN KEY([factory])
REFERENCES [dbo].[Factory] ([id])
GO
ALTER TABLE [dbo].[Product] CHECK CONSTRAINT [FK_Product_Factory]
GO
ALTER TABLE [dbo].[User]  WITH CHECK ADD FOREIGN KEY([roleId])
REFERENCES [dbo].[Role] ([id])
GO
